### Assignment 2 : Information Gain Calculation
#### CS583 Data Mining Text Mining

---

Sumitted by Sheetal S Prasad (sprasa22@uic.edu)

---

The aim of the assignment is to implement the information gain for a given dataset.  
Information gain is used to measure the impurity in a given dataset and it helps us select the good split while constructing decision trees. The assignment includes the implementation of the entropy function which is used by information gain.


Reference: Web Data Mining, Chapter 3, Section 3.2, Pg no 73

In [1]:
import pandas as pd
import math
import io

In [2]:
# print('Enter the path of the input file:')
# ip_path=input()
print("Enter the atrribute number you wish to calculate the information gain for")
attr=input()
attr=int(attr)-1

Enter the atrribute number you wish to calculate the information gain for

 1

In [3]:
def read_input():
    # Function to read input text file and return a pandas dataframe
    dataset=pd.read_csv('2-data-1.txt',header=None, encoding='utf8')
    return pd.DataFrame(dataset)
#     dataset=[]
#     with open(path) as file:
    
#         for line in file:
#             dataset.append(line.replace("\n","").split(","))
#     return(pd.DataFrame(dataset))

In [4]:
def calc_entropy(df):
    C=df.iloc[:,-1:]
    len_df=df.shape[0]
    c=C.squeeze('columns').value_counts()
    entropy=0
    for j in c:
        prob_cj=j/len_df
        entropy+=(prob_cj) *math.log2(prob_cj)
    return -entropy

In [5]:
def aj_entropy(Aj):
    entro_ai=0
    for j in Aj:
        Dj=(D[D[int(attr)]==j])
        entro_ai+=((Dj.shape[0]/totallen)*calc_entropy(Dj))
    return entro_ai

In [6]:
D=read_input()
D

           0      1      2          3  4    5
0      young  FALSE  FALSE       fair  x   No
1      young  FALSE  FALSE       good  x  Mix
2      young   TRUE   SURE       good  x  Yes
3      young   TRUE   TRUE       fair  y  Yes
4      young  Maybe  FALSE       fair  x   No
5     middle  FALSE  FALSE       fair  x  Mix
6     middle  FALSE  FALSE       good  y   No
7     middle   TRUE   TRUE       good  z  Yes
8     middle  FALSE   SURE  excellent  y  Yes
9     middle  FALSE   TRUE  excellent  y  Mix
10       old  Maybe   TRUE  excellent  y  Yes
11       old  FALSE   TRUE       good  x  Mix
12       old   TRUE  FALSE       good  z  Yes
13       old   TRUE  FALSE  excellent  x  Mix
14       old  Maybe  FALSE       fair  y   No
15  teenager   TRUE   TRUE       good  x  Mix
16  teenager  FALSE   SURE       good  y   No
17  teenager   TRUE   TRUE  excellent  z  Yes
18  teenager  Maybe   TRUE  excellent  x  Mix
19  teenager   TRUE  FALSE  excellent  z  Yes

In [7]:
totallen=D.shape[0]
totallen

20

In [8]:
entropy_D=calc_entropy(D)
entropy_D

1.5588718484453603

In [9]:
Aj=set(D[int(attr)])
Aj

{'middle', 'old', 'teenager', 'young'}

In [10]:
gain= entropy_D-aj_entropy(Aj)
print("\n The information gain for attribute no "+ str(attr)+" is "+str(gain))

 The information gain for attribute no 0 is 0.03694375355799817

In [11]:
output = open("88_2.txt", "w")
output.write("(88 \n(IG "+ str(gain)+" ) \n )")
output.close()